@using PustokMVC.Models

@model List<Book>
<div class="product-slider multiple-row  slider-border-multiple-row  sb-slick-slider"
     data-slick-setting='{
                                "autoplay": true,
                                "autoplaySpeed": 8000,
                                "slidesToShow": 5,
                                "rows":1,
                                "dots":true
                            }' data-slick-responsive='[
                                {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                                {"breakpoint":768, "settings": {"slidesToShow": 2} },
                                {"breakpoint":480, "settings": {"slidesToShow": 1} },
                                {"breakpoint":320, "settings": {"slidesToShow": 1} }
                            ]'>
    @foreach (var nb in Model)
    {
        <div class="single-slide">
            <div class="product-card">
                <div class="product-header">
                    <a href="#" class="author">
                        @nb.Author.FullName
                    </a>
                    <h3>
                        <a href="product-details.html">
                            @nb.Name
                        </a>
                    </h3>
                </div>
                <div class="product-card--body">
                    <div class="card-image">
                        @foreach (var img in nb.Images)
                        {
                            <img src="image/products/@(nb.Id==img.BookId && img.ImageStatus==true? img.ImageName : "")" alt="">
                        }
                        <div class="hover-contents">
                            <a href="product-details.html" class="hover-image">
                                @foreach (var hoverimg in nb.Images)
                                {
                                    <img src="image/products/@(nb.Id==hoverimg.BookId && hoverimg.ImageStatus==false? hoverimg.ImageName : "")" alt="">
                                }
                            </a>
                            <div class="hover-btns">
                                <a href="cart.html" class="single-btn">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                                <a href="wishlist.html" class="single-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <a href="compare.html" class="single-btn">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a asp-controller="Book" asp-action="Detail" asp-route-id="@nb.Id"
                               class="single-btn modal-bt">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price-block">
                       
                            @if (nb.DiscountPercent > 0)
                            {
                                <span class="price">@((nb.SalePrice - ((nb.SalePrice * nb.DiscountPercent)/100)).ToString("0.00"))</span>
                                <del class="price-old">£@nb.SalePrice</del>
                                <span class="price-discount">@nb.DiscountPercent%</span>
                            }
                            else
                            {
                                <span class="price">£@nb.SalePrice</span>
                            }

                    </div>
                </div>
            </div>
        </div>
    }


</div>
