@using PustokMVC.Areas.Manage.ViewModels
@using PustokMVC.Models

@model PaginatedList<Genre>

@{
    var count = (Model.PageIndex - 1) * 2;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input name="search" value="@ViewBag.Search" type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-8">
            <h1>Genres</h1>
            <a asp-action="create" class="btn btn-success">Create</a>
        </div>
    </div>
</div>
<div class="col-md-8">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Count</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Name</td>
                    <td>@item.Books.Count</td>
                    <td>
                        <a asp-action="Edit" asp-controller="genre" asp-route-id="@item.Id" class="btn btn-warning">Edit </a>
                        <a class="btn btn-danger">Delete</a>

                    </td>
                </tr>
            }

        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item @(Model.HasPrevious?"" : "disabled")">
                <a class="page-link" asp-route-page="@(Model.PageIndex-1)">Previous</a>
            </li>


            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                <li class="page-item @(i==Model.PageIndex?"active" : "" ) "><a class="page-link" asp-route-search="@ViewBag.Search" asp-route-page="@i">@i</a></li>

            }
            <li class="page-item @(Model.HasNext?"" : "disabled") ">
                <a class="page-link" asp-route-page="@(Model.PageIndex+1)">Next</a>
            </li>
        </ul>
    </nav>
</div>


